<div  class = "masthead">
  <div class="language-nav"> 
  <ul id="language_underline" >
  <li ><a href="#">CSS</a></li>
  <li ><a href="#">HTML</a></li>
  <li ><a href="#">Javascript</a></li> 
  <li ><a href="#">Ruby</a></li>
</ul>
</div>
 <img class = "logo" src="./assets/AA_Times_Logo.png" alt="logo">
 
 
<ul class="masthead-links">
  <li> Tuesday, October 18, 2016 </li>
  <li><i class="fas fa-newspaper"></i><a id= "i_underline" href="#">Today's Paper</a></li>
  <li><i class="fas fa-video"></i><a id= "i_underline" href="#">Video</a></li>
  <li> <button type="button" name="button">77°F</button></li>
  <li> <button type="button" name="button">AAO +100%</button></li>
</ul>
</div>